body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  text-align: center;
}

header {
  background: #111;
  padding: 20px;
}

header img {
  max-width: 80px;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

section {
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  background: #222;
  border-radius: 10px;
}

a.button,
.buy-button,
button {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #f00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

a.button:hover,
.buy-button:hover,
button:hover {
  background: #c00;
}

.footer {
  background: #111;
  padding: 15px;
  font-size: 0.9rem;
  margin-top: 50px;
}

.item {
  margin: 2rem auto;
  max-width: 300px;
}

.item img {
  max-width: 100%;
  border-radius: 8px;
}

.item h3,
.item p {
  margin: 0.5rem 0;
}

.about-logo {
  max-width: 80px;
  margin-top: 1rem;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.signup-container {
  margin-top: 100px;
  padding: 20px;
}

input,
button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #1db954;
  color: #fff;
  cursor: pointer;
}

a.signup-button img {
  max-width: 100px;
  filter: drop-shadow(0 0 10px rgba(255,255,255,0.3));
}
